body {
  text-align: center;
  background: #f8e8a6;
}

img {
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.internal-link {
  margin: 10px;
  color: green;
}

.external-link {
  margin: 0;
}
